/target/

**/*.rs.bk
**/*.tmp*

.DS_Store
.idea
.secrets
.cargo/config.toml

.vscode

/semver-checks/target/

# Unit test output lands here. TO DO: Fix
cli/target

# c2pa-wasm builds separately from the main workspace
c2pa-wasm/target
