/target/

**/*.rs.bk
**/*.tmp*

.DS_Store
.idea
.secrets
.cargo/config.toml

.vscode

/semver-checks/target/
sdk/target/

# Unit test output lands here. TO DO: Fix
cli/target
.cursor/rules/manifest.json
.cursor/rules/security-global/*
.cursor/rules/security-lang/*
