[package]
name = "export_schema"
version.workspace = true
authors = ["Dave Kozma <dkozma@adobe.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"
rust-version = "1.85.0"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(test)'] }
# Workaround for https://github.com/est31/cargo-udeps/issues/293.

[dependencies]
anyhow = "1.0.40"
c2pa = { path = "../sdk", features = ["json_schema"], default-features = false }
schemars = "0.8.21"
serde_json = "1.0.117"
