[package]
name = "c2patool"
default-run = "c2patool"

# Please do not manually edit `version`. Version updates will be generated
# automatically when c2patool is published. Remember to use (MINOR) or (MAJOR)
# tags in the PR title to trigger non-patch updates as needed.
version = "0.9.12"

description = "Tool for displaying and creating C2PA manifests."
authors = [
    "Gavin Peacock <gpeacock@adobe.com>",
    "Maurice Fisher <mfisher@adobe.com>",
]
license = "MIT OR Apache-2.0"
documentation = "https://opensource.contentauthenticity.org/docs/c2patool"
readme = "README.md"
keywords = ["c2pa", "xmp", "metadata"]
edition = "2018"
homepage = "https://contentauthenticity.org"
repository = "https://github.com/contentauth/c2patool"

[dependencies]
anyhow = "1.0"
atree = "0.5.2"
c2pa = { path = "../sdk", version = "0.39.0", features = [
	"fetch_remote_manifests",
	"file_io",
	"add_thumbnails",
	"pdf",
	"unstable_api",
] }
clap = { version = "4.5.10", features = ["derive", "env"] }
env_logger = "0.11.4"
glob = "0.3.1"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
serde_json = "1.0"
tempfile = "3.3"
treeline = "0.1.0"
pem = "3.0.3"
openssl = { version = "0.10.61", features = ["vendored"] }
reqwest = { version = "0.12.4", features = ["blocking"] }
url = "2.5.0"

[dev-dependencies]
assert_cmd = "2.0.14"
httpmock = "0.7.0"
predicates = "3.1"
mockall = "0.13.0"

[package.metadata.binstall]
# Use defaults

[profile.release]
strip = true  # Automatically strip symbols from the binary. 
opt-level = 3
lto = "thin"  # Link time optimization.
