[package]
name = "make_test_images"
version = "0.32.1"
authors = ["Gavin Peacock <gpeacock@adobe.com>"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.73.0"

[dependencies]
anyhow = "1.0.40"
c2pa = { path = "../sdk", default-features = false, features = [
	"openssl",
	"unstable_api",
] }
env_logger = "0.11"
log = "0.4.8" 
image = { version = "0.24.7", default-features = false, features = [
	"jpeg",
	"png",
] }
memchr = "2.7.1"
nom = "7.1.3"
regex = "1.5.6"
serde = "1.0.197"
serde_json = { version = "1.0.114", features = ["preserve_order"] }
tempfile = "3.10.1"

