[package]
name = "make_test_images"
version = "0.16.1"
authors = ["Gavin Peacock <gpeacock@adobe.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"
rust-version = "1.61.0"

[dependencies]
anyhow = "1.0"
blake3 = "1.0.0"
c2pa = { path="../sdk", features = ["file_io", "xmp_write"] }
env_logger = "0.10"
log = "0.4" 
image = "0.24.5"
nom = "7.1.1"
regex = "1.5.6"
serde = "1.0.137"
serde_json = "1.0.81"
twoway = "0.2.2"


