[package]
name = "make_test_images"
version = "0.35.0"
authors = ["Gavin Peacock <gpeacock@adobe.com>"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.74.0"

[dependencies]
anyhow = "1.0.40"
c2pa = { path = "../sdk", default-features = false, features = [
	"file_io",
	"openssl_sign",
	"unstable_api",
	"file_io",
] }
env_logger = "0.11"
log = "0.4.8"
image = { version = "0.25.2", default-features = false, features = [
	"jpeg",
	"png",
] }
memchr = "2.7.1"
nom = "7.1.3"
regex = "1.5.6"
serde = "1.0.197"
serde_json = { version = "1.0.117", features = ["preserve_order"] }
tempfile = "3.10.1"
