name: Publish release

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        token: ${{ secrets.GH_ADMIN_COMMIT_TOKEN }}

    - name: Get latest existing tag
      uses: actions-ecosystem/action-get-latest-tag@v1
      id: get-latest-tag
      with:
        semver_only: true

    - name: Set new version
      uses: paulhatch/semantic-version@v4.0.2
      id: set-version
      with:
        tag_prefix: "v"
        format: "${major}.${minor}.${patch}"
        major_pattern: "(MAJOR)"
        minor_pattern: "(MINOR)"

    - name: Log version
      env:
        VERSION: ${{ steps.set-version.outputs.version }}
        VERSION_TAG: ${{ steps.set-version.outputs.version_tag }}
        LATEST_TAG: ${{ steps.get-latest-tag.outputs.tag }}
      run: |
        echo "Version: $VERSION"
        echo "Version tag: $VERSION_TAG"
        echo "Latest tag detected: $LATEST_TAG"

    - name: Generate changelog since last tag
      run: |
        mkdir -p target
        git log --format="* %s" ${{ steps.get-latest-tag.outputs.tag }}..HEAD | grep -v "(IGNORE)" > target/changelog-fragment.md

    - name: Log changelog fragment
      run: |
        cat target/changelog-fragment.md

    - name: Stop after debugging
      uses: actions/github-script@v3
      with:
        script: |
          core.setFailed("Debugging: STOP")

    - name: Prevent empty release
      if: ${{ steps.changelog.outputs.stdout == '' }}
      uses: actions/github-script@v3
      with:
        script: |
          core.setFailed("No changes since prior release")

    - name: Update changelog
      run: |
        (head -8 CHANGELOG.md && echo "## $VERSION" && date "+_%e %B %Y_" && echo "" && (echo "$CHANGELOG" | sed -E 's_\(#([0-9]+)\)_([#\1](https://github.com/contentauth/c2pa-rs/pull/\1)\)_') && echo "" && tail -n +9 CHANGELOG.md) > CHANGELOG.new.md
        mv CHANGELOG.new.md CHANGELOG.md
      env:
        VERSION: ${{ steps.set-version.outputs.version }}
        CHANGELOG: ${{ steps.changelog.outputs.stdout }}

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install cargo-edit
      run: cargo install cargo-edit

    - name: Bump crate versions
      run: cargo set-version --workspace ${{ steps.set-version.outputs.version }}

    - name: Report differences for "prepare (release)" commit
      run: git diff

    - name: Commit cargo.toml and changelog
      uses: stefanzweifel/git-auto-commit-action@v4
      id: commit
      with:
        commit_message: Prepare ${{ steps.set-version.outputs.version }} release
        commit_user_name: Adobe CAI Team
        commit_user_email: noreply@adobe.com

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        body: ${{ steps.changelog.outputs.stdout }}
        commit: ${{ steps.commit.outputs.commit_hash }}
        prerelease: true # remove at 1.0
        tag: ${{ steps.set-version.outputs.version_tag }}
        token: ${{ secrets.GH_ADMIN_COMMIT_TOKEN }}

    - name: Publish crate
      run: |
        cargo publish --token $CRATES_IO_SECRET
      env:
        CRATES_IO_SECRET: ${{ secrets.CRATES_IO_SECRET }}
